.cont{
    border: 1px solid black;
    width: 1000px;
    height: 100px;
    margin-left: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rond2 {
    background: rgb(2,0,36);
    background: linear-gradient(140deg, rgba(2,0,36,1) 0%, rgba(25,108,101,1) 35%, rgba(0,212,255,1) 100%);
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.carre2{
    width:60px;
    height:60px;
    background-color: blue;

}

.triangle2 {
    width: 0;
    height: 0;
    border-left: 36px solid transparent;
    border-right: 36px solid transparent;
    border-bottom: 60px solid blue;
}

.papillon {
    width: 40px;
    height: 64px;
    background-color: green;
    clip-path: polygon(100% 100%, 100% 0, 0 50%);
}

.papillon2 {
    width: 40px;
    height: 64px;
    background-color: green;
    clip-path: polygon(0 0, 0 100%, 100% 50%);
}

.ens {
    display: flex;
    flex-direction: row;
}