.containt {
    display: flex;
    flex-direction: row;
}




.difform2 {

    width: 40px;
    height: 64px;
    background-color: red;
    clip-path: polygon(100% 100%, 100% 0, 0 50%);
}


.difform {
    
    width: 40px;
    height: 64px;
    background-color: red;
    clip-path: polygon(0 0, 0 100%, 100% 50%)
}
