.content{
    height: 500px;
    width: 250px;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: radial-gradient(circle, rgba(0,255,157,1) 0%, rgba(0,232,143,1) 0%, rgba(0,0,0,1) 85%, rgba(0,0,0,1) 100%);
}

.petitcontent{
    height: 100px;
    width: 200px;
    border: 2px solid rgb(255, 255, 255);
}

#un{
    background: linear-gradient(266deg, rgba(0,255,157,1) 0%, rgba(0,232,143,1) 0%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%);}
#deux{
    background: linear-gradient(90deg, rgba(0,255,157,1) 0%, rgba(0,232,143,1) 0%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%);}
#trois{
    background: linear-gradient(180deg, rgba(0,255,157,1) 0%, rgba(0,0,0,1) 86%, rgba(0,0,0,1) 100%);
}