body{
    width:1200px;
 
 
   margin-left: auto;
   margin-right:auto;
}

.un{
    display: flex;
    justify-content: space-evenly;
   

        width: 800px;
        padding-bottom: 2rem;
}

.deux{
   
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    padding-bottom: 2rem;
}

.trois{
  
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    padding-bottom: 2rem;
}

.quatre{
    position: absolute;

    
    left: -1rem;
}
/*RECTANGLE */

.rectangle{
    width:200px;
    height:100px;
    background:rgb(159, 34, 6);
}

/* CARRE */
.carre{
    background-color: black;
    border: solid 1px black;
    width: 80px;
    height: 80px;
}

/*CONTAINER */
.cont{
    border: 1px solid black;
    width: 800px;
    height: 100px;
    margin-left: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.rond2 {
    background: rgb(2,0,36);
    background: linear-gradient(140deg, rgba(2,0,36,1) 0%, rgba(25,108,101,1) 35%, rgba(0,212,255,1) 100%);
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.carre2{
    width:60px;
    height:60px;
    background-color: blue;

}

.triangle2 {
    width: 0;
    height: 0;
    border-left: 36px solid transparent;
    border-right: 36px solid transparent;
    border-bottom: 60px solid blue;
}

.papillon {
    width: 40px;
    height: 64px;
    background-color: green;
    clip-path: polygon(100% 100%, 100% 0, 0 50%);
}

.papillon2 {
    width: 40px;
    height: 64px;
    background-color: green;
    clip-path: polygon(0 0, 0 100%, 100% 50%);
}

.ens {
    display: flex;
    flex-direction: row;
}

/*DIFORM*/
.containt {
    display: flex;
    flex-direction: row;
}




.difform2 {

    width: 80px;
    height: 128px;
    background-color: red;
    clip-path: polygon(100% 100%, 100% 0, 0 50%);
}


.difform {
    width: 80px;
    height: 128px;
    background-color: red;
    clip-path: polygon(0 0, 0 100%, 100% 50%)
}

/*GRADIENT*/



.content{
    height: 250px;
    width: 125px;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: radial-gradient(circle, rgba(0,255,157,1) 0%, rgba(0,232,143,1) 0%, rgba(0,0,0,1) 85%, rgba(0,0,0,1) 100%);
}

.petitcontent{
    height: 50px;
    width: 100px;
    border: 2px solid rgb(255, 255, 255);
}

#un{
    background: linear-gradient(266deg, rgba(0,255,157,1) 0%, rgba(0,232,143,1) 0%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%);}
#deux{
    background: linear-gradient(90deg, rgba(0,255,157,1) 0%, rgba(0,232,143,1) 0%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%);}
#trois{
    background: linear-gradient(180deg, rgba(0,255,157,1) 0%, rgba(0,0,0,1) 86%, rgba(0,0,0,1) 100%);
}

/*ROND*/ 
.rond {
    background-color: blue;
    width: 60px;
    height: 60px;
    border-radius: 50px
}

/*SHAP */

.trio-contain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;



}
.trio1{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 80px 80px 80px;
    border-color: transparent transparent green transparent;
    }
    


.trio2{
    width: 0;
height: 0;
border-style: solid;
border-width: 0 80px 80px 80px;
border-color: transparent transparent yellow transparent;
}


