.trio-contain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;



}
.trio1{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 80px 80px 80px;
    border-color: transparent transparent green transparent;
    }
    


.trio2{
    width: 0;
height: 0;
border-style: solid;
border-width: 0 80px 80px 80px;
border-color: transparent transparent yellow transparent;
}


